---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/martensonbj/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 3435e60b3e1479bb2da5d76935479212b41a5f82
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1455850698'
      Last-Modified:
      - Thu, 18 Feb 2016 15:08:55 GMT
      Etag:
      - W/"57fcc636a56a51554c2495df26f0bfe5"
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/13123158/events?page=2>; rel="next", <https://api.github.com/user/13123158/events?page=10>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":"3662406764","type":"CreateEvent","actor":{"id":13123158,"login":"martensonbj","gravatar_id":"","url":"https://api.github.com/users/martensonbj","avatar_url":"https://avatars.githubusercontent.com/u/13123158?"},"repo":{"id":51878304,"name":"martensonbj/api_curious","url":"https://api.github.com/repos/martensonbj/api_curious"},"payload":{"ref":"omniauth_testing","ref_type":"branch","master_branch":"master","description":null,"pusher_type":"user"},"public":true,"created_at":"2016-02-18T23:08:55Z"},{"id":"3661177408","type":"PushEvent","actor":{"id":13123158,"login":"martensonbj","gravatar_id":"","url":"https://api.github.com/users/martensonbj","avatar_url":"https://avatars.githubusercontent.com/u/13123158?"},"repo":{"id":51878304,"name":"martensonbj/api_curious","url":"https://api.github.com/repos/martensonbj/api_curious"},"payload":{"push_id":983501521,"size":7,"distinct_size":1,"ref":"refs/heads/master","head":"37340586d75f9d4792076d8d5f134528ec5a47bc","before":"4c708de642bd987198ce788de42e9751fa911ea0","commits":[{"sha":"ca3f738d1d02924680caeef7979505b65a2a4625","author":{"email":"martensonbj@gmail.com","name":"martensonbj"},"message":"User
        can view other users activity","distinct":false,"url":"https://api.github.com/repos/martensonbj/api_curious/commits/ca3f738d1d02924680caeef7979505b65a2a4625"},{"sha":"9766875b4320b69aa44430fc937f1a848d0c7296","author":{"email":"martensonbj@gmail.com","name":"martensonbj"},"message":"Merge
        conflict in limbo","distinct":false,"url":"https://api.github.com/repos/martensonbj/api_curious/commits/9766875b4320b69aa44430fc937f1a848d0c7296"},{"sha":"33b866d129b8ca6ffad6612ab364b56307ac1dc4","author":{"email":"martensonbj@gmail.com","name[...]
[...]
