---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/martensonbj/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 388b34d3f7bc3509aedb71f4ac67080cce1e4417
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1455839601'
      Etag:
      - W/"ddbd658601c364ccadea0a8a72864c7e"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 974c922aa642a49a736e
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"brantwellman","id":6422641,"avatar_url":"https://avatars.githubusercontent.com/u/6422641?v=3","gravatar_id":"","url":"https://api.github.com/users/brantwellman","html_url":"https://github.com/brantwellman","followers_url":"https://api.github.com/users/brantwellman/followers","following_url":"https://api.github.com/users/brantwellman/following{/other_user}","gists_url":"https://api.github.com/users/brantwellman/gists{/gist_id}","starred_url":"https://api.github.com/users/brantwellman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brantwellman/subscriptions","organizations_url":"https://api.github.com/users/brantwellman/orgs","repos_url":"https://api.github.com/users/brantwellman/repos","events_url":"https://api.github.com/users/brantwellman/events{/privacy}","received_events_url":"https://api.github.com/users/brantwellman/received_events","type":"User","site_admin":false}]'
  recorded_at: Thu, 18 Feb 2016 22:53:21 GMT
recorded_with: VCR 3.0.1
