---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/martensonbj/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 3435e60b3e1479bb2da5d76935479212b41a5f82
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1455850698'
      Etag:
      - W/"50f74ebfc51904cabc621e7353f5851d"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"login":"mikedao","id":3011748,"avatar_url":"https://avatars.githubusercontent.com/u/3011748?v=3","gravatar_id":"","url":"https://api.github.com/users/mikedao","html_url":"https://github.com/mikedao","followers_url":"https://api.github.com/users/mikedao/followers","following_url":"https://api.github.com/users/mikedao/following{/other_user}","gists_url":"https://api.github.com/users/mikedao/gists{/gist_id}","starred_url":"https://api.github.com/users/mikedao/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mikedao/subscriptions","organizations_url":"https://api.github.com/users/mikedao/orgs","repos_url":"https://api.github.com/users/mikedao/repos","events_url":"https://api.github.com/users/mikedao/events{/privacy}","received_events_url":"https://api.github.com/users/mikedao/received_events","type":"User","site_admin":false},{"login":"stevepentler","id":13510375,"avatar_url":"https://avatars.githubusercontent.com/u/13510375?v=3","gravatar_id":"","url":"https://api.github.com/users/stevepentler","html_url":"https://github.com/stevepentler","followers_url":"https://api.github.com/users/stevepentler/followers","following_url":"https://api.github.com/users/stevepentler/following{/other_user}","gists_url":"https://api.github.com/users/stevepentler/gists{/gist_id}","starred_url":"https://api.github.com/users/stevep[...]
