---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/martensonbj/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 388b34d3f7bc3509aedb71f4ac67080cce1e4417
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1455835028'
      Etag:
      - W/"d08f6733450c2e035d1c58700d6d65e8"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 974c922aa642a49a736e
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"mikedao","id":3011748,"avatar_url":"https://avatars.githubusercontent.com/u/3011748?v=3","gravatar_id":"","url":"https://api.github.com/users/mikedao","html_url":"https://github.com/mikedao","followers_url":"https://api.github.com/users/mikedao/followers","following_url":"https://api.github.com/users/mikedao/following{/other_user}","gists_url":"https://api.github.com/users/mikedao/gists{/gist_id}","starred_url":"https://api.github.com/users/mikedao/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mikedao/subscriptions","organizations_url":"https://api.github.com/users/mikedao/orgs","repos_url":"https://api.github.com/users/mikedao/repos","events_url":"https://api.github.com/users/mikedao/events{/privacy}","received_events_url":"https://api.github.com/users/mikedao/received_events","type":"User","site_admin":false},{"login":"stevepentler","id":13510375,"avatar_url":"https://avatars.githubusercontent.com/u/13510375?v=3","gravatar_id":"","url":"https://api.github.com/users/stevepentler","html_url":"https://github.com/stevepentler","followers_url":"https://api.github.com/users/stevepentler/followers","following_url":"https://api.github.com/users/stevepentler/following{/other_user}","gists_url":"https://api.github.com/users/stevepentler/gists{/gist_id}","starred_url":"https://api.github.com/users/stevep[...]
