---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/martensonbj/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 3435e60b3e1479bb2da5d76935479212b41a5f82
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1455850698'
      Etag:
      - W/"68f55ab36fff8ac91cd66762c7094e62"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"login":"brantwellman","id":6422641,"avatar_url":"https://avatars.githubusercontent.com/u/6422641?v=3","gravatar_id":"","url":"https://api.github.com/users/brantwellman","html_url":"https://github.com/brantwellman","followers_url":"https://api.github.com/users/brantwellman/followers","following_url":"https://api.github.com/users/brantwellman/following{/other_user}","gists_url":"https://api.github.com/users/brantwellman/gists{/gist_id}","starred_url":"https://api.github.com/users/brantwellman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brantwellman/subscriptions","organizations_url":"https://api.github.com/users/brantwellman/orgs","repos_url":"https://api.github.com/users/brantwellman/repos","events_url":"https://api.github.com/users/brantwellman/events{/privacy}","received_events_url":"https://api.github.com/users/brantwellman/received_events","type":"User","site_admin":false}]'
  recorded_at: Fri, 19 Feb 2016 02:32:06 GMT
- request:
    method: get
    uri: https://api.github.com/users/brantwellman/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 3435e60b3e1479bb2da5d76935479212b41a5f82
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1455850698'
      Last-Modified:
      - Thu, 18 Feb 2016 17:53:41 GMT
      Etag:
      - W/"acf54d9b95e74d6450b4b091273a6fd3"
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/6422641/events?page=2>; rel="next", <https://api.github.com/user/6422641/events?page=10>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":"3662918362","type":"IssuesEvent","actor":{"id":6422641,"login":"brantwellman","gravatar_id":"","url":"https://api.github.com/users/brantwellman","avatar_url":"https://avatars.githubusercontent.com/u/6422641?"},"repo":{"id":51879015,"name":"brantwellman/api-curious","url":"https://api.github.com/repos/brantwellman/api-curious"},"payload":{"action":"opened","issue":{"url":"https://api.github.com/repos/brantwellman/api-curious/issues/32","repository_url":"https://api.github.com/repos/brantwellman/api-curious","labels_url":"https://api.github.com/repos/brantwellman/api-curious/issues/32/labels{/name}","comments_url":"https://api.github.com/repos/brantwellman/api-curious/issues/32/comments","events_url":"https://api.github.com/repos/brantwellman/api-curious/issues/32/events","html_url":"https://github.com/brantwellman/api-curious/issues/32","id":134749668,"number":32,"title":"Decorator
        object","user":{"login":"brantwellman","id":6422641,"avatar_url":"https://avatars.githubusercontent.com/u/6422641?v=3","gravatar_id":"","url":"https://api.github.com/users/brantwellman","html_url":"https://github.com/brantwellman","followers_url":"https://api.github.com/users/brantwellman/followers","following_url":"https://api.github.com/users/brantwellman/following{/other_user}","gists_url":"https://api.github.com/users/brantwellman/gists{/gist_id}","starred_url":"https://api.github.com/users/brantwellman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brantwellman/subscriptions","organizations_url":"https://api.github.com/users/brantwellman/orgs","repos_url":"https://api.github.com/users/brantwellman/repos","events_url":"https://api.github.com/users/brantwellman/events{/privacy}","received_events_url":"https://api.github.com/users/brantwellman/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2016-02-19T01:53:41Z","updated_at":"2016-02-19T01:53:41Z","closed_at":null,"body":null}},"public":true,"created_at":"2016-02-19T01:53:41Z"},{"id":"3662917294","type":"PushEvent","actor":{"id":6422641,"login":"brantwellman","gravatar_id":"","url":"https://api.github.com/users/brantwellman","avatar_url":"https://avatars.githubusercontent.com/u/6422641?"},"repo":{"id":51879015,"name":"brantwellman/api-curious","url":"https://api.github.com/repos/brantwellman/api-curious"},"payload":{"push_id":984087842,"size":2,"distinct_size":1,"ref":"refs/heads/master","head":"270a0635808885e7195d798ea2de3041e7e20d0e","before":"480bae726fa9e2644981f44f2408d1ddc11dd18e","commits":[{"sha":"47da94ba30a3b22210b44d028d0eb91e88c43370","author":{"email":"BrantWellman@gmail.com","name":"Brant
        Wellman"},"message":"Logout feature test complete","distinct":false,"url":"https://api.github.com/repos/brantwellman/api-curious/commits/47da94ba30a3b22210b44d028d0eb91e88c43370"},{"sha":"270a0635808885e7195d798ea2de3041e7e20d0e","author":{"email":"brantwellman@gmail.com","name":"Brant
        Wellman"},"message":"Merge pull request #31 from brantwellman/26_Logout-feature-test\n\nLogout
        feature test complete","distinct":true,"url":"https://api.github.com/repos/brantwellman/api-curious/commits/270a0635808885e7195d798ea2de3041e7e20d0e"}]},"public":true,"created_at":"2016-02-19T01:53:16Z"},{"id":"3662917279","type":"PullRequestEvent","actor":{"id":6422641,"login":"brantwellman","gravatar_id":"","url":"https://api.github.com/users/brantwellman","avatar_url":"https://avatars.githubusercontent.com/u/6422641?"},"repo":{"id":51879015,"name":"brantwellman/api-curious","url":"https://api.github.com/repos/brantwellman/api-curious"},"payload":{"action":"closed","number":31,"pull_request":{"url":"https://api.github.com/repos/brantwellman/api-curious/pulls/31","id":59893888,"html_url":"https://github.com/brantwellman/api-curious/pull/31","diff_url":"https://github.com/brantwellman/api-curious/pull/31.diff","patch_url":"https://github.com/brantwellman/api-curious/pull/31.patch","issue_url":"https://api.github.com/repos/brantwellman/api-curious/issues/31","number":31,"state":"closed","locked":false,"title":"Logout
        feature test complete","user":{"login":"brantwellman","id":6422641,"avatar_url":"https://avatars.githubusercontent.com/u/6422641?v=3","gravatar_id":"","url":"https://api.github.com/users/brantwellman","html_url":"https://github.com/brantwellman","followers_url":"https://api.github.com/users/brantwellman/followers","following_url":"https://api.github.com/users/brantwellman/following{/other_user}","gists_url":"https://api.github.com/users/brantwellman/gists{/gist_id}","starred_url":"https://api.github.com/users/brantwellman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brantwellman/subscriptions","organizations_url":"https://api.github.com/users/brantwellman/orgs","repos_url":"https://api.github.com/users/brantwellman/repos","events_url":"https://api.github.com/users/brantwellman/events{/privacy}","received_events_url":"https://api.github.com/users/brantwellman/received_events","type":"User","site_admin":false},"body":"Closes
        #26 ","created_at":"2016-02-19T01:53:11Z","updated_at":"2016-02-19T01:53:15Z","closed_at":"2016-02-19T01:53:15Z","merged_at":"2016-02-19T01:53:15Z","merge_commit_sha":"107214d6cb55ced99080b4a43cae4604624f8a4e","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/brantwellman/api-curious/pulls/31/commits","review_comments_url":"https://api.github.com/repos/brantwellman/api-curious/pulls/31/comments","review_comment_url":"https://api.github.com/repos/brantwellman/api-curious/pulls/comments{/number}","comments_url":"https://api.github.com/repos/brantwellman/api-curious/issues/31/comments","statuses_url":"https://api.github.com/repos/brantwellman/api-curious/statuses/47da94ba30a3b22210b44d028d0eb91e88c43370","head":{"label":"brantwellman:26_Logout-feature-test","ref":"26_Logout-feature-test","sha":"47da94ba30a3b22210b44d028d0eb91e88c43370","user":{"login":"brantwellman","id":6422641,"avatar_url":"https://avatars.githubusercontent.com/u/6422641?v=3","gravatar_id":"","url":"https://api.github.com/users/brantwellman","html_url":"https://github.com/brantwellman","followers_url":"https://api.github.com/users/brantwellman/followers","following_url":"https://api.github.com/users/brantwellman/following{/other_user}","gists_url":"https://api.github.com/users/brantwellman/gists{/gist_id}","starred_url":"https://api.github.com/users/brantwellman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brantwellman/subscriptions","organizations_url":"https://api.github.com/users/brantwellman/orgs","repos_url":"https://api.github.com/users/brantwellman/repos","events_url":"https://api.github.com/users/brantwellman/events{/privacy}","received_events_url":"https://api.github.com/users/brantwellman/received_events","type":"User","site_admin":false},"repo":{"id":51879015,"name":"api-curious","full_name":"brantwellman/api-curious","owner":{"login":"brantwellman","id":6422641,"avatar_url":"https://avatars.githubusercontent.com/u/6422641?v=3","gravatar_id":"","url":"https://api.github.com/users/brantwellman","html_url":"https://github.com/brantwellman","followers_url":"https://api.github.com/users/brantwellman/followers","following_url":"https://api.github.com/users/brantwellman/following{/other_user}","gists_url":"https://api.github.com/users/brantwellman/gists{/gist_id}","starred_url":"https://api.github.com/users/brantwellman/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brantwellman/subscriptions","organizations_url":"https://api.github.com/users/brantwellman/orgs","repos_url":"https://api.github.com/users/brantwellman/repos","events_url":"https://api.github.com/users/brantwellman/events{/privacy}","received_events_url":"https://api.github.com/users/brantwellman/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/brantwellman/api-curious","description":"","fork":false,"url":"https://api.github.com/repos/brantwellman/api-curious","forks_url":"https://api.github.com/repos/brantwellman/api-curious/forks","keys_url":"https://api.github.com/repos/brantwellman/api-curious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/brantwellman/api-curious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/brantwellman/api-curious/teams","hooks_url":"https://api.github.com/repos/brantwellman/api-curious/hooks","issue_events_url":"https://api.github.com/repos/brantwellman/api-curious/issues/events{/number}","events_url":"https://api.github.com/repos/brantwellman/api-curious/events","assignees_url":"https://api.github.com/repos/brantwellman/api-curious/assignees{/user}","branches_url":"https://api.github.com/repos/brantwellman/api-curious/branches{/branch}","tags_url":"https://api.github.com/repos/brantwellman/api-curious/tags","blobs_url":"https://api.github.com/repos/brantwellman/api-curious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/brantwellman/api-curious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/brantwellman/api-curious/git/refs{/sha}","trees_url":"https://api.github.com/repos/brantwellman/api-curious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/brantwellman/api-curious/statuses/{sha}","languages_url":"https://api.github.com/repos/brantwellman/api-curious/languages","stargazers_url":"https://api.github.com/repos/brantwellman/api-curious/stargazers","contributors_url":"https://api.github.com/repos/brantwellman/api-curious/contributors","subscribers_url":"https://api.github.com/repos/brantwellman/api-curious/subscribers","subscription_url":"https://api.github.com/repos/brantwellman/api-curious/subscription","commits_url":"https://api.github.com/repos/brantwellman/api-curious/commits{/sha}","git_commits_url":"https://api.github.com/repos/brantwellman/api-curious/git/commits{/sha}","comments_url":"https://api.github.com/repos/brantwellman/api-curious/comments{/number}","issue_comment_url":"https://api.github.com/repos/brantwellman/api-curious/issues/comments{/number}","contents_url":"https://api.github.com/repos/brantwellman/api-curious/contents/{+path}","compare_url":"https://api.github.com/repos/brantwellman/api-curious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/brantwellman/api-curious/merges","archive_url":"https://api.github.com/repos/brantwellman/api-curious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/brantwellman/api-curious/downloads","issues_url":"https://api.github.com/repos/brantwellman/api-curious/issues{/number}","pulls_url":"https://api.github.com/repos/brantwellman/api-curious/pulls{/number}","milestones_url":"https://api.github.com/repos/brantwellman/api-curious/milestones{/number}","notifications_url":"https://api.github.com/repos/brantwellman/api-curious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/brantwellman/api-curious/labels{/name}","releases_url":"https://api.github.com/repos/brantwellman/api-curious/releases{/id}","deployments_url":"https://api.github.com/repos/brantwellman/api-curious/deployments","created_at":"2016-02-16T23:42:49Z","updated_at":"2016-02-17T02:58:04Z","pushed_at":"2016-02-19T01:53:15Z","git_url":"git://github.com/brantwellman/api-curious.git","ssh_url":"git@github.com:brantwellman/api-curious.git","clone_url":"https://github.com/brantwellman/api-curious.git","svn_url":"https://github.com/brantwellman/api-curious","homepage":null,"size":72,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":2,"forks":0,"open_issues":2,"watchers":1,"default_branch":"master"}},"base":{"label":"brantwellman:master","ref":"master","sha":"480bae726fa9e2644981f44f2408d1ddc11dd18e","user":{"login":"brantwellman","id":6422641,"avatar_url":"https://avatars.githubusercontent.com/u/6422641?v=3","gravatar_id":"","url":"https://api.github.com/users/brantwellman","html_url":"https://github.com/brantwellman","followers_url":"https://api.github.com/users/brantwellman/followers","following_url":"https://api.github.com/users/brantwellman/following{/other_user}","gists_url":"https://api.gith[...]
