---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/martensonbj/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 3435e60b3e1479bb2da5d76935479212b41a5f82
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1455850698'
      Etag:
      - W/"c0d4e0a47bb12c08bcee18025f395a76"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"login":"TuringTestOrganization","id":17304060,"url":"https://api.github.com/orgs/TuringTestOrganization","repos_url":"https://api.github.com/orgs/TuringTestOrganization/repos","events_url":"https://api.github.com/orgs/TuringTestOrganization/events","hooks_url":"https://api.github.com/orgs/TuringTestOrganization/hooks","issues_url":"https://api.github.com/orgs/TuringTestOrganization/issues","members_url":"https://api.github.com/orgs/TuringTestOrganization/members{/member}","public_members_url":"https://api.github.com/orgs/TuringTestOrganization/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/17304060?v=3","description":"For
        testing organizations!"}]'
  recorded_at: Fri, 19 Feb 2016 02:24:34 GMT
recorded_with: VCR 3.0.1
