---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/martensonbj/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 3435e60b3e1479bb2da5d76935479212b41a5f82
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1455850698'
      Etag:
      - W/"ec66a12d240a64f82ffef2dea7454f2d"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/13123158/repos?page=2>; rel="next", <https://api.github.com/user/13123158/repos?page=2>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":51878304,"name":"api_curious","full_name":"martensonbj/api_curious","owner":{"login":"martensonbj","id":13123158,"avatar_url":"https://avatars.githubusercontent.com/u/13123158?v=3","gravatar_id":"","url":"https://api.github.com/users/martensonbj","html_url":"https://github.com/martensonbj","followers_url":"https://api.github.com/users/martensonbj/followers","following_url":"https://api.github.com/users/martensonbj/following{/other_user}","gists_url":"https://api.github.com/users/martensonbj/gists{/gist_id}","starred_url":"https://api.github.com/users/martensonbj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/martensonbj/subscriptions","organizations_url":"https://api.github.com/users/martensonbj/orgs","repos_url":"https://api.github.com/users/martensonbj/repos","events_url":"https://api.github.com/users/martensonbj/events{/privacy}","received_events_url":"https://api.github.com/users/martensonbj/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/martensonbj/api_curious","description":null,"fork":false,"url":"https://api.github.com/repos/martensonbj/api_curious","forks_url":"https://api.github.com/repos/martensonbj/api_curious/forks","keys_url":"https://api.github.com/repos/martensonbj/api_curious/keys{/key_id}","collaborators_url":"https://api.github.com/repos/martensonbj/api_curious/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/martensonbj/api_curious/teams","hooks_url":"https://api.github.com/repos/martensonbj/api_curious/hooks","issue_events_url":"https://api.github.com/repos/martensonbj/api_curious/issues/events{/number}","events_url":"https://api.github.com/repos/martensonbj/api_curious/events","assignees_url":"https://api.github.com/repos/martensonbj/api_curious/assignees{/user}","branches_url":"https://api.github.com/repos/martensonbj/api_curious/branches{/branch}","tags_url":"https://api.github.com/repos/martensonbj/api_curious/tags","blobs_url":"https://api.github.com/repos/martensonbj/api_curious/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/martensonbj/api_curious/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/martensonbj/api_curious/git/refs{/sha}","trees_url":"https://api.github.com/repos/martensonbj/api_curious/git/trees{/sha}","statuses_url":"https://api.github.com/repos/martensonbj/api_curious/statuses/{sha}","languages_url":"https://api.github.com/repos/martensonbj/api_curious/languages","stargazers_url":"https://api.github.com/repos/martensonbj/api_curious/stargazers","contributors_url":"https://api.github.com/repos/martensonbj/api_curious/contributors","subscribers_url":"https://api.github.com/repos/martensonbj/api_curious/subscribers","subscription_url":"https://api.github.com/repos/martensonbj/api_curious/subscription","commits_url":"https://api.github.com/repos/martensonbj/api_curious/commits{/sha}","git_commits_url":"https://api.github.com/repos/martensonbj/api_curious/git/commits{/sha}","comments_url":"https://api.github.com/repos/martensonbj/api_curious/comments{/number}","issue_comment_url":"https://api.github.com/repos/martensonbj/api_curious/issues/comments{/number}","contents_url":"https://api.github.com/repos/martensonbj/api_curious/contents/{+path}","compare_url":"https://api.github.com/repos/martensonbj/api_curious/compare/{base}...{head}","merges_url":"https://api.github.com/repos/martensonbj/api_curious/merges","archive_url":"https://api.github.com/repos/martensonbj/api_curious/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/martensonbj/api_curious/downloads","issues_url":"https://api.github.com/repos/martensonbj/api_curious/issues{/number}","pulls_url":"https://api.github.com/repos/martensonbj/api_curious/pulls{/number}","milestones_url":"https://api.github.com/repos/martensonbj/api_curious/milestones{/number}","notifications_url":"https://api.github.com/repos/martensonbj/api_curious/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/martensonbj/api_curious/labels{/name}","releases_url":"https://api.github.com/repos/martensonbj/api_curious/releases{/id}","deployments_url":"https://api.github.com/repos/martensonbj/api_curious/deployments","created_at":"2016-02-16T23:29:32Z","updated_at":"2016-02-17T02:58:00Z","pushed_at":"2016-02-19T02:05:35Z","git_url":"git://github.com/martensonbj/api_curious.git","ssh_url":"git@github.com:martensonbj/api_curious.git","clone_url":"https://github.com/martensonbj/api_curious.git","svn_url":"https://github.com/martensonbj/api_curious","homepage":null,"size":98,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":3,"forks":0,"open_issues":3,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":48136421,"name":"blogger","full_name":"martensonbj/blogger","owner":{"login":"martensonbj","id":13123158,"avatar_url":"https://avatars.githubusercontent.com/u/13123158?v=3","gravatar_id":"","url":"https://api.github.com/users/martensonbj","html_url":"https://github.com/martensonbj","followers_url":"https://api.github.com/users/martensonbj/followers","following_url":"https://api.github.com/users/martensonbj/following{/other_user}","gists_url":"https://api.github.com/users/martensonbj[...]
