<h1>Github User Landing Page</h1>
<%= current_user.name %>
<br>
<%= image_tag current_user.image %>

<h2>Starred Repositories</h2>
  <% @starred_repos.each do |repo| %>
    <p>
      <%= link_to repo["name"], "https://github.com/#{repo["owner"]["login"]}/#{repo["name"]}"%>
      <br>
      Created By: <%= repo["owner"]["login"] %>
    </p>
  <% end %>
