<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top-nav">
      <ul class="nav navbar-nav">
        <li><%= link_to( content_tag(:i, nil, class: 'fa fa-github')) %></li>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>
        <li><a href="#" class="header-nav-link">Pull requests</a></li>
        <li><a href="#" class="header-nav-link">Issues</a></li>
        <li><a href="#" class="header-nav-link">Gist</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">+<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">New repository</a></li>
            <li><a href="#">New action</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">IMAGE <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>Signed in as</br>martensonbj</li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Your profile</a></li>
            <li><a href="#">Your stars</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Integrations</a></li>
            <li><a href="#">Help</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
