<div class="container-fluid container-home">
  <div class="home_content_container">
    <h1 class="home">GitHub Mockery</h1>
    <%= link_to "Login with Github", "/auth/github", class: "btn btn-lg btn-default btn-home" %>
  </div>
</div>
