@import "bootstrap-sprockets";
@import "bootstrap";
@import "custom";

.inner_container {
  width: 900px;
  margin: 0 auto;
}

.right_top_data {
    margin-left: 63px;
    width: 75%;
}

#top-nav a.dropdown-toggle {
  padding-bottom: 0px;
  margin: 0px;
}

.nav {
  #top-nav {
    margin-right: 120px;
    margin-left: 150px;
  }
  i.fa.fa-github {
    font-size: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .header-nav-link {
      display: block;
      font-size: 11px;
      padding-top: 15px;
      font-weight: bold;
      line-height: 20px;
      color: #333;
  }
  .header-nav-link:hover, .header-nav-link:focus {
      color: #4078c0;
      text-decoration: none;
  }
  input.form-control {
    height: 25px;
    width: 320px!important;
    border-radius: 2px;
  }
}

.profile_large {
  img {
    max-width: 200px;
  }
}

.profile_thumbnail {
  width: 30px;
}
